div.input {
    display: block;
}
div#inputs {
    font-size: medium;
}
p#spreadSpeedOutput {
    display: inline;
}
div.io {
    display: block;
    margin: 10px;
    margin-left: 0px;
    font-family: 微软雅黑;
    font-size: 15px;
}
input {
    font-family: 微软雅黑;
    display: inline-block;
    border-radius: 5px;
    border-width: 1px;
}
input#reset {
    color: rgba(0, 0, 255, 75%);
}
input#addPositive {
    color: rgba(255, 0, 0, 100%);
}
div#sim {
    display: inline-block;
}
div#chart {
    display: inline-block;
    margin-left: 50px;
}
select {
    font-family: 微软雅黑;
    border-color: black;
    background-color: lightgray;
    border-radius: 5px;
}
