div.input {
    display: block;
}
div#inputs {
    font-size: medium;
}
p#spreadSpeedOutput {
    display: inline;
}
div.io {
    display: block;
    margin: 10px;
}
input {
    display: inline-block;
    color: rgba(255, 0, 255, 75);
}
span {
    display: inline;
}
canvas {
    display: inline;
}
