div.input {
    display: block;
}
div#inputs {
    font-size: medium;
}
span#spreadSpeedOutput {
    display: inline;
}
p {
    margin: 0px;
}
div.io {
    display: block;
    margin: 5px;
    font-family: 微软雅黑;
    font-size: 15px;
}
input {
    font-family: 微软雅黑;
    display: inline-block;
    border-radius: 5px;
    border-width: 1px;
}
input#reset {
    color: rgba(0, 0, 255, 75%);
}
input#addPositive {
    color: rgba(255, 0, 0, 100%);
}
input[type="range"] {
    background-color: blue;
}
input[type="button"] {
    background-color: #ddd;
}
div#sim {
    display: inline-block;
}
div#chart {
    display: inline-block;
    margin-left: 50px;
}
select {
    font-family: 微软雅黑;
    border-color: black;
    background-color: lightgray;
    border-radius: 5px;
}
option#default-customized {
    background-color: yellow;
    color: bule;
    font-style: italic;
}
div.circle {
    display: inline-block;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background-color: black;
    margin-right: 2px;
}
div.instruction {
    margin: 5px;
    font-family: 微软雅黑;
}
.ins {
    font-size: 20px;
}
img {
    width: 1000px;
}
